.heading {
    font-size: 24px;
    width: 100%;
    margin: 0px;
    box-shadow: 10px 10px 15px darkcyan;
    background-color: lightcyan;
    border-color: cyan;
    border-radius: 100px;
    color: black;
    font-family: cursive;
}
body{
    background-size: cover;
}

canvas{
    border: 5px solid white;
}
